body {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("paisaje.jpg");
  background-attachment: fixed;
  background-size: 100% 100%;
  background-color: rgba(255, 255, 255, 0.6);
  /*background-blend-mode: lighten;*/
  overflow: auto;
}

div.test {
  background-color: rgba(255, 255, 255, 0.6);
  margin: 50px;
  padding: 25px;
  border-radius: 30px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  /* Adds a shadow */
  justify-content: center;
  align-items: center;
  display: flex;
}

div.items {
  padding: 30px;
  border: 2px solid;
  width: 50%;
  position: relative;
}

p {
  font-size: 16px;
  color: blue;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 50%;
  text-align: justify;
}

div.error {
  background-color: red;
  margin: 10px;
  border-radius: 50px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.5);
  width: 100px;
  height: 100px;
}

div.warning {
  background-color: yellow;
  margin: 10px;
  border-radius: 50px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.5);
  width: 100px;
  height: 100px;
}

div.success {
  background-color: green;
  margin: 10px;
  border-radius: 50px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.5);
  width: 100px;
  height: 100px;
}

div.info {
  background-color: blue;
  margin: 10px;
  /*border-radius: 50px;*/
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.5);
  /*width: 100px;
  height: 100px;*/
  text-align: center;
  font-size: 30px;
}

div.caja {
  width: 50%;
  text-align: center;
  background-color: beige;
}


div.suma {
  background-color: cadetblue;
  padding: 10px;
}

div.parentcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.container {
  position: fixed;
  inset: 0px;
  width: 12rem;
  height: 5rem;
  max-width: 100vw;
  max-height: 100dvh;
  margin: auto;
}

/* 

https://www.joshwcomeau.com/css/center-a-div/ 

*/
